### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
Unique_players = purchase_data["SN"].unique()
Total_Players = len(Unique_players)
Total_Players_df = pd.DataFrame({
    "Total Players":[Total_Players],
})
Total_Players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
training_df = pd.DataFrame({
    "Number of Unique Items":[len(purchase_data["Item ID"].unique())],
    "Average Price": [purchase_data["Price"].mean()],
    "Number of Purchases":[purchase_data["Price"].count()],
    "Total Revenue":[purchase_data["Price"].sum()]
})

training_df.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
values = purchase_data['Gender'].value_counts().keys().tolist()
counts = purchase_data['Gender'].value_counts().tolist()
percent = purchase_data['Gender'].value_counts(normalize=True).tolist()
formattedpercent = ["{:.2%}".format(member) for member in percent]

Gender_df = pd.DataFrame(list(zip(values, counts, formattedpercent)), 
               columns =['Gender', 'Total Count', 'Percentage of Players']) 

Gender_df = Gender_df.set_index("Gender")
Gender_df

                       Total Count Percentage of Players
Gender
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
Purchasing_df = pd.DataFrame({
    #"Gender": ["Male", "Female", "Other / Non-Disclosed" ],
    "Purchase Count": [purchase_data["Price"].count()],
    "Average Purchase Price":[purchase_data["Price"].mean()],
    "Total Purchas Value":[purchase_data["Price"].sum()],
    "Average Purchase per Person":[purchase_data["Price"].sum()/Total_Players],
})
#Purchasing_df = Gender_df.set_index("Gender")
Purchasing_df.head()

,Purchase Count,Average Purchase Price,Total Purchas Value,Average Purchase per Person
0,780,3.050987,2379.77,4.131545

In [7]:
#Aqui se hara en un formato de sacar los datos individuales para despues hacer el DF general 
# y hacer las operaciones. En los ejercicios de abajo ya se harn en codigo mas eficiente.


#DF Para hacer las operaciones Masculinas
Data = ["SN", "Age","Gender", "Item ID", "Item Name","Price"]
MData = purchase_data.loc[purchase_data["Gender"]=="Male",Data]
MData = MData.set_index("Gender")
MCData = MData["Price"].count()
MPData = MData["Price"].mean()
MTData = MData["Price"].sum()
MUData = len(MData["SN"].unique())
MPTData = MTData/MUData
MData_df = pd.DataFrame({
    "Gender":["Male"],
    "Purchase Count": [MCData],
    "Average Purchase Price":["${:,.2f}".format(MPData)],
    "Total Purchas Value":["${:,.2f}".format(MTData)],
    "Average Purchase per Person":["{:.2f}%".format(MPTData)],
})
MData_df = MData_df.set_index("Gender")
MData_df

,Purchase Count,Average Purchase Price,Total Purchas Value,Average Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",4.07%

In [8]:
#DF Para hacer las operaciones Femeninas
FData = purchase_data.loc[purchase_data["Gender"]=="Female",Data]
FData = FData.set_index("Gender")
FCData = FData["Price"].count()
FPData = FData["Price"].mean()
FTData = FData["Price"].sum()
FUData = len(FData["SN"].unique())
FPTData = FTData/FUData
FData_df = pd.DataFrame({
    "Gender":["Female"],
    "Purchase Count": [FCData],
    "Average Purchase Price":["${:,.2f}".format(FPData)],
    "Total Purchas Value":["${:,.2f}".format(FTData)],
    "Average Purchase per Person":["{:.2f}%".format(FPTData)],
})
FData_df = FData_df.set_index("Gender")
FData_df

,Purchase Count,Average Purchase Price,Total Purchas Value,Average Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,4.47%

In [9]:
#DF Para hacer las operaciones Otras
OData = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",Data]
OData = OData.set_index("Gender")
OCData = OData["Price"].count()
OPData = OData["Price"].mean()
OTData = OData["Price"].sum()
OUData = len(OData["SN"].unique())
OPTData = OTData/OUData
OData_df = pd.DataFrame({
    "Gender":["Other / Non-Disclosed"],
    "Purchase Count": [OCData],
    "Average Purchase Price":["${:,.2f}".format(OPData)],
    "Total Purchas Value":["${:,.2f}".format(OTData)],
    "Average Purchase per Person":["{:.2f}%".format(OPTData)],
})
OData_df = OData_df.set_index("Gender")
OData_df

,Purchase Count,Average Purchase Price,Total Purchas Value,Average Purchase per Person
Gender,,,,
Other / Non-Disclosed,15,$3.35,$50.19,4.56%

In [10]:
#DF Para unir la informacion
GenderAnalysis_df = pd.concat([MData_df,FData_df,OData_df], axis=0)
GenderAnalysis_df

,Purchase Count,Average Purchase Price,Total Purchas Value,Average Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",4.07%
Female,113,$3.20,$361.94,4.47%
Other / Non-Disclosed,15,$3.35,$50.19,4.56%

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [89]:
#Utilizare ya un codigo lo mas eficiente que pueda.

ages = ['>10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data['Bin Ages'] = pd.cut(purchase_data.Age,range(5,49,5),right=False, labels=ages)
purchase_data["Bin Ages"].fillna("40+", inplace = True)
purchase_data.to_csv("PurchaseData2.csv")

In [90]:
PTotalCount = purchase_data.groupby(["Bin Ages"])[["Age"]].count()
PPerPlayers = (PTotalCount["Age"] / Total_Players)*100
PPerPlayersDF = pd.DataFrame(PPerPlayers)
PPerPlayersDF = PPerPlayersDF.rename(columns={"Age":"Percentage per Players"})

In [91]:
AgeDem_df = pd.concat([PTotalCount, PPerPlayersDF], axis=1)
AgeDem_df = AgeDem_df.style.format({'Percentage per Players': "{:.2f}%"})
AgeDem_df

#AGE PURCHASING ANALYSIS

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
PPurCount = purchase_data.groupby(["Bin Ages"])[["Purchase ID"]].count()
PPurCount = PPurCount.rename(columns={"Purchase ID":"Purchase Count"})
PTotPurVal = purchase_data.groupby(["Bin Ages"])[["Price"]].sum()
PAvePurPrice = PTotPurVal["Price"]/PPurCount["Purchase Count"]
PAvePurPrice = pd.DataFrame(PAvePurPrice)
PAvePurPrice = PAvePurPrice.rename(columns={0:"Average Purchase Price"})
a = purchase_data.groupby(["Bin Ages"])[["SN"]].nunique()
PAveTotPur = PTotPurVal["Price"]/a["SN"]

In [16]:
AgePur_df = pd.concat([PPurCount, PAvePurPrice, PTotPurVal, PAveTotPur], axis=1)
AgePur_df = AgePur_df.rename(columns={"Price":"Total Purchase Value",0:"Average Total Purchase per Person" })
AgePur_df = AgePur_df.style.format({'Average Purchase Price': "${:.2f}",'Total Purchase Value': "${:,.2f}",'Average Total Purchase per Person': "${:,.2f}"})
AgePur_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
#Version haciendo un filtro Antes
TopSpend = purchase_data.loc[["Lisosia93","Idastidru52","Chamjask73","Iral74","Iskadarya95"],["Price"]]
CounTS = TopSpend.groupby(["SN"])[["Price"]].count()
AvePPTS = TopSpend.groupby(["SN"])[["Price"]].mean()
TotPVTS = TopSpend.groupby(["SN"])[["Price"]].sum()
TopSpendDF = pd.concat([CounTS, AvePPTS, TotPVTS], axis=1)
TopSpendDF

KeyError: "None of [Index(['Lisosia93', 'Idastidru52', 'Chamjask73', 'Iral74', 'Iskadarya95'], dtype='object')] are in the [index]"

In [19]:
#Version Oficial de la Tarea
CounTS = purchase_data.groupby(["SN"])[["Price"]].count()
CounTS = CounTS.rename(columns={"Price":"Purchase Count"})
AvePPTS = purchase_data.groupby(["SN"])[["Price"]].mean()
AvePPTS = AvePPTS.rename(columns={"Price":"Average Purchase Price"})
TotPVTS = purchase_data.groupby(["SN"])[["Price"]].sum()
TotPVTS = TotPVTS.rename(columns={"Price":"Total Purchase Value"})
TopSpendDF = pd.concat([CounTS, AvePPTS, TotPVTS], axis=1)
TopSpendDF = TopSpendDF.sort_values(["Total Purchase Value"], ascending=False)
Top5 = TopSpendDF.head(5)
Top5 = Top5.style.format({'Average Purchase Price': "${:.2f}",'Total Purchase Value': "${:,.2f}"})
Top5

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [83]:
PopIte = purchase_data.groupby(["Item ID","Item Name"])[["Price"]].mean()
PopIte = PopIte.rename(columns={"Price":"Item Price"})
PopIte["Total Puchase Value"] = purchase_data.groupby(["Item ID","Item Name"])[["Price"]].sum()
PopIte["Purchase Count"] = purchase_data.groupby(["Item ID","Item Name"])[["Price"]].count()
PopIte = PopIte[['Purchase Count', 'Item Price', 'Total Puchase Value']]
PopIte = PopIte.sort_values(["Purchase Count"], ascending=False)
PopIte5C = PopIte.head(5)
PopIte5C = PopIte5C.style.format({'Item Price': "${:.2f}",'Total Puchase Value': "${:,.2f}"})
PopIte5C

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [85]:
PopIte = PopIte.sort_values(["Total Puchase Value"], ascending=False)
PopIte5T = PopIte.head(5)
PopIte5T = PopIte5T.style.format({'Item Price': "${:.2f}",'Total Puchase Value': "${:,.2f}"})
PopIte5T